body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.head img {
    height: 50px;
    width: 150px;
    margin-left: 15px;
}
.profile {
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
    position: relative;
}
.title {
    margin-left: 15px;
    padding: 20px 0;
    text-align: center;
}
.title p {
    font-size: large;
    color: red;
    font-weight: bolder;
}
.grp, .create {
    height: 100px;
    width: 200px;
    background-color: red;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.grp p, .create p {
    color: white;
    font-size: large;
    margin-top: 0px;
}
.grp .remove-group-btn, .create .remove-group-btn {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: white;
    color: red;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 2px 5px;
}
.dash {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
#notification-count {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    background: red;
    color: white;
    border-radius: 50%;
    padding: 5px 10px;
}

.dropdown-content {
    position: absolute;
    right: 0;
    top: 40px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}
.dropdown-content p {
    margin: 5px 0;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}
.friends-list {
    margin-top: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.friends-list h2 {
    text-align: center;
    color: #333;
}
#search-bar {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 50px;
    border: 1px solid #ddd;
}
.friend {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.friend-actions i {
    margin-left: 10px;
    cursor: pointer;
    color: #555;
}
.friend-actions i:hover {
    color: #000;
}
