.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.head img{
    height: 50px;
    width: 150px;
    margin-left: 15px;
}
.profile{
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 50px;
}