body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}
::selection{
    background-color: red;
    color: #ffffff;
}
.pace {
    pointer-events: none;
    user-select: none;
    z-index: 100;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 30vh;
    border: 0px;
    height: 2px;
    overflow: hidden;
    background:white;
  }
  
  .pace .pace-progress {
    box-sizing: border-box;
    transform: translate3d(0, 0, 0);
    max-width: 400px;
    position: fixed;
    z-index: 2000;
    display: block;
    position: absolute;
    top: 0;
    right: 100%;
    height: 100vh;
    width: 100%;
    background: red;
  }
  
  .pace.pace-inactive {
    display: none;
  }
  
  #preloader{
    width:100%;
    height:100vh;
    background:white;
    overflow:hidden;
    position:fixed;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  }
  
  .p {
    font-size: 4vw;
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      color:red;
  }
  
.head img{
    height: 50px;
    width: 150px;
    margin-left: 15px;
}

.head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    
}
.head button{
    color: white;
    height: 35px;
    background-color: red;
    width: 80px;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 500;
    margin-left: 30px;
    border-radius: 20px;
}
.button{
    margin-right: 20px;
}
.wlcm{
    display: flex;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    font-weight: bolder;
    margin-left: 50px;
    gap: 25px;
}
.wlcm img{
    height: 70px;
    width: 200px;
    margin-top: 15px;
}
.project{
    font-size: 35px;
    margin-left: 50px;
}
.grp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 50px;
}

.grp img {
    height: 400px;
    width: 600px;
    margin: right 50px ;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
    gap: 20px;
}

.start p {
    margin: 0 0 10px 0; 
    font-size: 35px;

}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    background-color: red;
    border: none;
    border-radius: 10px;
}
.exp {
    font-weight: bolder;
    margin-left: 50px;
    font-size:30px;
}
.explore p{
    margin-left: 55px;
    margin-bottom: 20px;

}
.task{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
    margin-top: 100px;
}
.task img{
    height: 250px;
    width: 250px;
}
.team{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
    margin-top: 100px;
}
.team img{
    height: 250px;
    width: 250px;
}
.time{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
    margin-top: 100px;
}
.time img{
    height: 250px;
    width: 250px;
}
.calendar{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
    margin-top: 100px;
}
.calendar img{
    height: 250px;
    width: 250px;
}
.report{
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-evenly;
    margin-top: 100px;
}
.report img{
    height: 250px;
    width: 250px;
}
.last {
    height: 70vh;
    width: 100%;
    margin-top: 10vh;
}
.footer-container {
    width: 100%;
    max-width: 1400px;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column h3 {
    margin-bottom: 15px;
    font-weight: bold;
}

.column a {
    text-decoration: none;
    color: #ff0000;
    margin-bottom: 10px;
}

.column a:hover {
    text-decoration: underline;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-logo img {
    width: 150px;
}

.footer-logo p {
    margin: 0;
}

.social-media {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 4vw; 
    padding: 10px;
}

.social-media i {
    color: #000000; 
    font-size: 30px; 
    transition: color 0.3s; 
}

.social-media i:hover {
    transform: scale(1.5); 
}

.main .main-image:hover {
    transform: scale(1.1); 
}

.social-media .fa-facebook:hover {
    color: #3a5fb1; 
}

.social-media .fa-twitter:hover {
    color: #1da1f2; 
}

.social-media .fa-instagram:hover {
    color: #e62649;
}

.social-media .fa-youtube:hover {
    color: #ff0000;
}

.last{
    flex-direction: column;
    display: flex;
    align-items: center;
    background: linear-gradient(#ffffff,#ff9a9a);
}
.txt p{
    font-size: 1.8vw;
}
.text p{
    font-size: 1.8vw;
}/* Styles for 1440px screen width */
@media (max-width: 1440px) {
    .head img {
        height: 45px;
        width: 135px;
    }
    .head button {
        width: 75px;
    }
    .wlcm {
        font-size: 48px;
    }
    .project {
        font-size: 33px;
    }
    .grp img {
        height: 380px;
        width: 570px;
    }
    .start p {
        font-size: 33px;
    }
}

/* Styles for 1024px screen width */
@media (max-width: 1024px) {
    .head img {
        height: 40px;
        width: 120px;
    }
    .head button {
        width: 70px;
    }
    .wlcm {
        font-size: 45px;
    }
    .project {
        font-size: 30px;
    }
    .grp img {
        height: 350px;
        width: 520px;
    }
    .start p {
        font-size: 30px;
    }
}

/* Styles for 768px screen width */
@media (max-width: 768px) {

    .head {
        flex-direction: row;
        align-items: center;
    }
    .head img {
        height: 35px;
        width: 105px;
        margin-bottom: 10px;
    }

    .button {
        flex-direction: column;
        gap: 10px;
    }
    .wlcm {
        font-size: 40px;
        text-align: center;
    }
    .project {
        font-size: 25px;
        text-align: center;
    }
    .grp {
        flex-direction: column;
        align-items: center;
    }
    .grp img {
        height: 34vh;
        width: auto;
    }
    .start p {
        font-size: 25px;
        text-align: center;
    }

    .task, .team, .time, .calendar, .report{
        font-size: 2.5vw;
    }
    .feature .team,
    .feature .calendar{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .feature .task,
    .feature .time,
    .feature .report {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .feature img {
        height: 34vh;
        width: auto;
    }
}

/* Styles for 425px screen width */
@media (max-width: 425px) {

    .head {
        flex-direction: column;
        align-items: center;
    }
    .head img {
        height: 10vh;
        width: auto;
    }
    .head .btn1 .btn2{
        display: flex;
        flex-direction: column;

    }
    .head button {
        width: 25vh;
    }
    .wlcm {
        display: flex;
        flex-direction: column;
        font-size: 8vw;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 2.5vw;
        gap: 0px;
    }
    .main-image img{
        margin-top: 0px;
    }
    .project {
        font-size: 4vw;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 2.5vw;
    }

    .grp img {
        height: 250px;
        width: 350px;
    }
    .start p {
        font-size: 4vw;
        
    }
    .start{
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        margin-right: 0px;
        padding: 2.5vw;
        margin-right: 10vw;
    }
    .homepageimg{
        height: 10vh;
        width: auto;
    }
    .feature img {
        max-width: 70%;
        margin-bottom: 10px;
    }

    .head img {
        height: 35px;
        width: 105px;
        margin-bottom: 10px;
    }

    .button {
        flex-direction: column;
    }
    .exp ,.exp2 {
        margin-bottom: 0px;
        margin-top: 0px;
        margin-left: 0px;
    }

    .task, .team, .time, .calendar, .report{
        font-size: 2.5vw;
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 0px;
        gap: 0px;
    }
    .feature .team,
    .feature .calendar{
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .feature .task,
    .feature .time,
    .feature .report {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .feature img {
        height: 24vh;
        width: auto;
    }
    .footer-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 10vw;
        padding: 5vw;
    }
    .last{
        height: 100vh;
        gap: 10vh;
    }
    .txt{
        font-size: 3.5vw;
    }
}
